src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd3112cc-3aed-450d-b140-cce22650657f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="c2982067-bf5b-4bc7-a359-f1094de14a5f" >
		<http:listener doc:name="Listener" doc:id="fd2103b1-1efc-4b15-ad72-85eb9231ef50" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="e1af2df9-0aab-48d7-b2a9-7f72150db331" message="Super Hero "/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5b04ebb9-94dd-4c43-8b53-5228d38ec802" />
	</flow>
</mule>
